@page "/form/{Id:int}"

@using ApiRestUser.Models;
@inject NavigationManager navigationManager;

<h3>Actualizar</h3>

<div class="card border border-secondary" style="width: 18rem;" >
    <div class="card-body">
        <EditForm Model="User" OnSubmit="UpdateUserAsync" FormName="UpdateUser">
            <div class="mb-3">
                <label class="form-label">Nombre: </label>
                <InputText  @bind-Value="User.Nombre" />
            </div>
            <div class="mb-3">
                <label class="form-label">Apellidos:</label>
                <InputText @bind-Value="User.Apellidos" />
            </div>
            <div class="mb-3">
                <label class="form-label">Cc:</label><br />
                <InputNumber @bind-Value="User.Numero_Identificacion" />
            </div>

            <div class="mb-3">
                <label class="form-label">Telefono:</label>
                <InputNumber @bind-Value="User.Telefono" />
            </div>

            <div class="mb-3">
                <label class="form-label">Fecha de Nacimiento:</label>
                <InputDate @bind-Value="User.Fecha_Nacimiento" />
            </div>
            <div>
                <button type="submit"  class="btn btn-primary">Actualizar</button>
            </div>
            
        </EditForm>
    </div>
    <div>
       @*  <button class ="btn btn-danger" @onclick="() => EliminarRecurso(Id)">Eliminar Recurso</button> *@
    </div>
</div>

@code {
    [SupplyParameterFromForm(FormName = "UpdateUser")]
    public Usuario User { get; set; } = new Usuario();

    [Inject]
    private HttpClient _client { get; set; }

    [Parameter]
    public int Id { get; set; }

    [Inject] public IHttpClientFactory ClientFactory { get; set; }


    protected override async Task OnInitializedAsync()
    {

        _client = ClientFactory.CreateClient("ServerClient");
        User = await _client.GetFromJsonAsync<Usuario>($"api/usuarios/{Id}");
    }

    public async Task UpdateUserAsync()
    {
        HttpResponseMessage response = await _client.PutAsJsonAsync($"/api/usuarios/{Id}", User);

      
        if (response.IsSuccessStatusCode)
        {
            Console.WriteLine("Usuario actualizado con éxito.");
        }
    }

  
}
